# Specific files
api.txt
prompt.txt

# Qwen model directories - use wildcard properly
Qwen*/

# CSV and JSONL files (globally)
*.csv
*.jsonl

# Specific directories
pre_process/*.jsonl
pre_process/*.csv
pre_process/datas/*/
pre_process/evaluation/*.csv
qlora_checkpoints/
posttune_evaluate/
tuned_evaluation_results_3B/

#Berts
bert-base-chinese/

bert_checkpoints_improved/
bert_checkpoints/